.image-media { 
    padding-left: 40px;
    float: left;
    height: 500px;
    width: 700px;
}

.bid-button { 
    height: 45px;
    width: 300px;
}

.button-label-group {
    text-align: center;
    vertical-align: center;
    margin: 20px;
}