
.Nav-header {
  background-color: #725752;
  height: 55px;
  text-align: left;
  margin-bottom: 20px; 
}
  
.Nav-title {
  font-family: 'Arial', serif;    
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin-left: 40px;
}

.Nav-title:hover{ 
  
}